<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="/">All</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Jewelry">Jewelry</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Toiletries">Toiletries</a>
<table>
    <tr>
        <th style="text-align: left" scope="col">Name</th>
        <th style="text-align: left" scope="col">Email</th>
        <th style="text-align: left" scope="col">Category</th>
        <th style="text-align: left" scope="col">Credit Card</th>
        <th style="text-align: left" scope="col">CVV</th>
        <th style="text-align: left" scope="col">Date</th>
    </tr>
{{#purchases}}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{category}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{date}}</td>
    </tr>
{{/purchases}}
</table>

{{#showPrev}}
<a href="/?page={{prevPage}}{{#category}}&category={{.}}{{/category}}">Previous</a>
{{/showPrev}}

{{#showNext}}
    <a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next</a>
{{/showNext}}

</body>
</html>